@tailwind base;
@tailwind components;
@tailwind utilities;

#custom-table-buttons-container div > div {
  flex: 1 1 auto!important;
}

label[aria-required]:after{
  content:" *";
  color: red;
  font-weight: bold;
}
